<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<property name="connection.url">jdbc:postgresql://localhost:5432/ajudeaencontrar?createDatabaseIfNotExist=true</property>

		<property name="connection.driver_class">org.postgresql.Driver</property>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<property name="connection.username">postgres</property>
		<property name="connection.password">oi8877pa#</property>
		<!-- DB schema will be updated if needed -->
<!-- 		<property name="hbm2ddl.auto">create</property> -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<mapping class="br.com.aenc.entity.Desaparecido"/>
		<mapping class="br.com.aenc.entity.DescricaoDesaparecido"/>
		<mapping class="br.com.aenc.entity.Encontrado"/>
		<mapping class="br.com.aenc.entity.PatrulDesapAlerta"/>
		<mapping class="br.com.aenc.entity.PatrulDesapLocaliza"/>
		<mapping class="br.com.aenc.entity.Patrulheiro"/>
		<mapping class="br.com.aenc.entity.Responsavel"/>
		<mapping class="br.com.aenc.entity.Usuario"/>		
		
	</session-factory>
	
</hibernate-configuration>